html, body {
    margin:0;
    width: 100%;
}

.nav {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.span-nav {
    margin-left: 20px;
}


.body-car {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    
 }

.content-models {
    border-top: 1px solid grey;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.models {
    background:red;
    height: auto;
    width: 200px;
    min-height: 150px;
    min-width: 150px;
    margin-top:20px;
}

.img-models {
    width: 100%;
    height: 60%;
}

.content-visit {
    margin-top: 150px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.visit {
    background:red;
    width: 22%;
    min-width: 180px;
    min-height: 200px;
    margin-top:20px;
}

.category-content {
    margin-top: 150px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    background:red;
    width: 48%;
    min-width: 400px;
    min-height: 250px;
    margin-top:20px;
}

.config-content {
    margin-top: 150px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content {
    background:red;
    width: 22%;
    min-width: 180px;
    min-height: 150px;
    margin-top:20px;
}

.footer {
    background-color: lightgrey;
    margin-top:80px;
    width: 100%;
    height: 600px;
}

.content-footer {
    padding-top:100px;
    margin-top: 150px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 400px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colums-footer {
    background:red;
    width: 22%;
    min-width: 180px;
    min-height: 150px;
    margin-top:20px;
}

@media only screen and (max-width: 1200px) {
    .span-nav {
        color: blue;
    }
}

@media only screen and (max-width: 992px) {
    .span-nav {
        color: red;
    }
    
}

@media only screen and (max-width: 768px) {
    .span-nav {
        color: green;
    }
    
}

@media only screen and (max-width: 576px) {
    .span-nav {
        color: #fabada;
    }
    
}
